@charset "utf-8";
/* CSS Document */
body {
	background-color: #D6FAF5;
	/*font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";*/
}

table {
    width: 30%;
	margin: 150px auto;
	align-content: center;
	text-align: center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

th, td, tr {
   	width: 60%;
   	text-align: center;
   	vertical-align: top;
	border: 2.5px solid #000;
}